@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}
ul li{ list-style:none;}
.clear{ clear:both;}
#header{ background:#fff; width:100%; height:80px;}
.logo{ padding-top:18px; float:left; margin-left:38px;}
.nav{ float:left; margin-left:258px; position:absolute; left:480px;}
.nav ul li{ float:left; width:80px; font:16px "微软雅黑";height:75px; line-height:75px;  text-align:center;}
.nav ul li a{ text-decoration:none;color:#333333;}
#banner{ background:#0f51b2;width:100%; height:318px;}
.head ,#ban ,#acc ,#inter ,#off ,#da ,#mark ,#secur{ width:1200px; margin:0 auto;}
#construction{ background:#f8f9fb; height:287px; width:100%; padding-bottom:20px;}
#cons{ background:#f8f9fb; height:287px; width:1200px; margin:0 auto; padding-bottom:20px;}
#cons ul{ height:14px; line-height:14px; float:right; padding-top:18px; margin-right:140px;}
#cons ul li{ float:left; color:#666666; font:14px "微软雅黑"; padding:0 10px; border-right:1px solid #666; height:14px;line-height:14px;}
#cons h2{ font:33px "微软雅黑"; color:#333333; margin:25px 0 0 380px;}
.xian{ height:26px; width:200px; margin-left:500px; border-bottom:1px solid #c2c2c2;}
.word{ font:15px "微软雅黑"; color:#555; line-height:25px; margin:20px 0 0 190px; width:800px; text-align:center;}
#cons a{ display:block;  color:#1fc1f6; font:20px "微软雅黑";text-decoration:none; width:300px; text-align:center; height:60px; line-height:60px; margin:30px 0 0 450px; border:1px solid #cacbcc; border-radius:25px;}
#access ,#marketing ,#office{ width:100%; height:580px; background:#fff;}
.acc_left{ float:left; margin:130px 0 0 35px;}
.acc_right{ float:left; width:490px;margin:95px 0 0 35px;}
.acc_right h3 ,.inter_left h3 ,.off_right h3 ,.da_left h3 ,.mark_right h3{ font:35px "微软雅黑"; color:#333333;}
.acc_word{ font:15px "微软雅黑"; color:#333; line-height:25px; margin-top:35px;}
.acc_right ul{ margin-left:10px;}
.acc_xian{ width:384px; height:26px; border-bottom:1px solid #444;}
.acc_right ul li{ float:left; margin:25px 80px 0 0;} 
.acc_right ul li span{ display:block; font:12px "微软雅黑"; color:#333; margin-top:15px;}
#internet{ background:#f8f9fb; width:100%; height:580px;}
#inter{ background:#f8f9fb; width:1200px; height:580px; margin:0 auto;}
.inter_left{ width:480px; float:left; margin:130px 0 0 100px;}
.inter_left ul li ,.off_right ul li ,.da_left ul li ,.mark_right ul li{ float:left;margin:25px 75px 0 0;}
.inter_left ul li span ,.off_right ul li span ,.da_left ul li span ,.mark_right ul li span{ display:block; width:80px; text-align:center;font:12px "微软雅黑"; color:#333; margin-top:15px;}
.inter_right{ width:480px; float:left; margin:100px 0 0 100px;}
.off_left{ float:left; margin:110px 0 0 80px;}
.off_right{ float:left; width:490px;margin:130px 0 0 100px;}
#data{ background:#f8f9fb; width:100%; height:580px;}
#da{ background:#f8f9fb; width:1200px; height:580px; margin:0 auto;}
.da_left{ width:480px; float:left; margin:130px 0 0 100px;}
.da_right{float:left; margin:150px 0 0 60px;}
.mark_left{ float:left; margin:150px 0 0 150px;}
.mark_right{ float:left; width:490px;margin:130px 0 0 130px;}
#security{ background:#f8f9fb; width:100%; height:580px;}
#secur{ background:#f8f9fb; width:1200px; height:580px; margin:0 auto;}
.secur_left{ float:left; width:480px;margin:115px 0 0 120px;}
.secur_left ul li{ float:left;margin:25px 22px 0 0;}
.secur_left ul li span{  display:block; width:80px; text-align:center;font:12px "微软雅黑"; color:#333; margin-top:15px;}
.secur_right{ float:left;margin:15px 0 0 100px;}
.secur_left h3{ font:35px "微软雅黑"; color:#333333; width:330px;}


#footer{ background:#182029; width:100%; height:184px;}
#foot{background:#182029;width:1200px; margin:0 auto; height:184px;}
.f_left{ float:left; margin:40px 0 0 118px;}
.f_nr ul li{ float:left; margin-right:17px; font:12px "微软雅黑"; color:#fff;}
.big{ font:20px "微软雅黑"; color:#fff; margin:15px 0 0 80px;}
.small{ font:12px "微软雅黑"; color:#fff; width:338px; text-align:center; margin:20px 0 0 112px;}
.f_nr{ float:left;margin:30px 0 0 15px;}
.f_right{ float:left;margin:35px 0 0 40px;}



